html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-container {
    display: flex;
}

.form-item {
    padding: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.column-one {
    width: 85%;
    margin-left: 2%;
}

.column-two {
    width: 85%;
    margin-left: 2.5%;
}

@media screen and (max-width: 960px) {
    .form-container {
        display: block;
        gap: 10px;
    }
}

