@page "/Home"
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="page-container container">
    <div id="partial-container" class="text-center">

    </div>
</div>

<script>
    window.onload = function () {
        window.pageManager.setPage(pageTypes.home);
    };
</script>


